{% extends "base.html" %}

{% block title %}{{ post.title }} - New Project Blog{% endblock %}

{% block content %}
  <article>
    <h1>{{ post.title }}</h1>
    <p>By <a href="{{ url_for('user_blog', username=post.username) }}">{{ post.display_name }}</a> on {{ post.created_at }}</p>
    {% if post.tags %}
      <p>
        Tags:
        {% set ns = namespace(first=true) %}
        {% for tag in post.tags.split(",") %}
          {% set clean_tag = tag.strip() %}
          {% if clean_tag %}
            {% if not ns.first %}, {% endif %}
            <a href="{{ url_for('tag_posts', tag=clean_tag) }}">{{ clean_tag }}</a>
            {% set ns.first = false %}
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    <div>{{ post.body | markdown }}</div>
  </article>
{% endblock %}
